.karaBody {
  text-align: center;
  background: #540452;
  color: white;
  font-family: 'helvetica neue', sans-serif;
  font-weight: 100;
  font-size: 25px;
}

.karaContainer {
  margin: 0 auto;
  background: white;
}

.heading {
  padding: 10px;
}

h2 {
  font-size: 30px;
  font-weight: 100;
  color: #540452;
}

button {
  font-family: 'helvetica neue';
  font-size: 20px;
  padding: 10px;
  margin: 10px 30px;
  color: white;
  background: #936eb5;
}

button:hover, button.active {
    background: #b2d24f;
}

.siteFrame {
  width: 45%;
  height: 100%;
}

a {
  color:#936eb5;
}

a:hover {
  color: #BADA55;
}

footer img {
    height: 22px;
}